 /* Estilos para los inputs y selects al hacer clic (enfoque) */
 .form-control:focus,
 .form-select:focus {
     outline: none; /* Elimina el borde azul predeterminado */
     border: 2px solid #007832; /* Borde verde alrededor del input/select cuando se hace clic */
     box-shadow: none; /* Elimina cualquier sombra alrededor del input/select */
 }

 /* Estilos por defecto para los campos de input y select */
 .form-control,
 .form-select {
     border: 1px solid #ccc; /* Borde gris claro */
     border-radius: 4px; /* Bordes redondeados */
     padding: 10px; /* Relleno de los campos */
 }